@using ECMS.Domain.Entities
@model Product[]
@{
    ViewData["Title"] = "All Products";
}

<h1>All Products</h1>

@foreach (var product in Model)
{ 
    <div>
        <div> 
            <img id="image-preview" src="@product.ImageUrl" style="width:400px" class="rounded rounded-circle" alt="placeholder">
        </div> 
        <h2>@product.Name</h2>
        <h2>@product.Price</h2>
        <h2>@product.Description</h2>
        <h2>@product.InventoryLevel</h2>

        <a asp-action="Details" asp-route-id="@product.Id">Details</a> <!-- Add Details button -->
        <a asp-action="Update" asp-route-id="@product.Id">Update</a> <!-- Add Update button -->
        <a asp-action="Delete" asp-route-id="@product.Id">Delete</a> <!-- Add Delete button -->
    </div>
}

<script>
    function updatePreview(input, target) {
        let file = input.files[0];
        let reader = new FileReader();

        reader.readAsDataURL(file);
        reader.onload = function () {
            let img = document.getElementById(target);
            img.src = reader.result;
        }
    }
</script>